@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot') format('eot'),
     url('../fonts/vazir.ttf') format('truetype'),
    url('../fonts/vazir.woff') format('woff'),
    url('../fonts/vazir.woff2') format('woff2');
}

* {
    padding: 0;
    margin: 0;
}


body {
    font-family: 'vazir';
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;    
    /*background-image: url(../img/Space\ Wallpaper\ -\ 27.jpg);
    background-size: cover;
    z-index: -1; */
    background-image: linear-gradient(to right, purple, black);
}


.action {
    position: fixed;
    top: 30%;
    right: 50%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}

/* .scroll-div {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: relative;
} */

.action .profile{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: purple;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.action .profile img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action .profile img:hover {
    background-image: linear-gradient(to right, purple, black);
    filter: opacity(80%);
    -webkit-filter: opacity(80%);
    border-color: black;
}

.action .menu {
    position: absolute;
    top: 40px;
    right: 150px;
    background: #fff;
    width: 400px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    opacity: 0;
    transform: translateX(-40px);
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -o-transform: translateX(-40px);
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

.action .menu.active {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.action .menu::before {
    content: '';
    position: absolute;
    top: 20px;
    right: -15px;
    background: #fff;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.action .menu h3 {
    text-align: center;
    padding: 20px;
    font-weight: 900;
    box-sizing: border-box;
    width: 100%;
}

.action .menu h3 span {
    font-size: 14px;
    color: #777;
}

.action .menu ul{
    width: 100%;
    list-style: none;
    padding: 0 30px;
    box-sizing: border-box;
}

.action .menu ul li {
    display: flex;
    align-items: center;
    padding: 10px 0;

}

.action .menu ul li img{
    width: 30px;
    margin-left: 10px;
    opacity: .6;
}

.action .menu ul li a {
    text-decoration: none;
    color: #000;
}